<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Se podría tener la sección completa connectionStrings en otro archivo dejando acá solo esta linea: <connectionStrings configSource="Connections.config"/>-->
  <connectionStrings>
    <clear/>
    <add name="SQL_Testing_Server"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=[Db Server];Initial Catalog=[Db Name];Persist Security Info=True;User ID=sa;Password=" />
  </connectionStrings>
</configuration>